
{% extends 'base.html' %}
{% block content %}
        <form method="post">
            {% csrf_token %}
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><i class="icon ion-ios-locked-outline" style="color:rgb(239,41,41);"></i></div>
            <div class="form-group"><input class="form-control" name="username" required="" placeholder="Username" inputmode="username"></div>
            <div class="form-group"><input class="form-control" type="password" name="password" required="" placeholder="Password"></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Log In</button></div><a href="#" class="forgot">Forgot your email or password?</a></form>
{% endblock %}
