<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="assets/css/Footer-Clean.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/Team-Clean.css">
</head>

<body style="padding:20px;">
    <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean">
            <div class="container"><a class="navbar-brand" href="#">Pharmax</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse"
                    id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Inventory</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Request Transfer</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Requests</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Manage Branches</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">HR</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Bill</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Log out</a></li>
                    </ul>
                </div>
            </div>
        </nav><input class="form-control-lg flex-grow-1" type="search" name="Search" placeholder="Search" maxlength="20" minlength="3" autofocus="" style="margin:12px;"></div>
    <div class="table-responsive m-auto">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Manager</th>
                    <th>Address</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Jail Road Branch</td>
                    <td>Muhammad Hanif Serwari</td>
                    <td>Rehmat Pharmacy Ravi Road, Lahore, punjab, pakistan</td>
                    <td><button class="btn btn-primary" type="button">Edit</button><button class="btn btn-primary" type="button" style="margin:0px 10px;">Delete</button></td>
                </tr>
                <tr>
                    <td>Ravi Road Branch</td>
                    <td>Saad safdar</td>
                    <td>Remat Pharmacy Jail Road Lahore</td>
                    <td><button class="btn btn-primary" type="button">Edit</button><button class="btn btn-primary" type="button" style="margin:0px 10px;">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div><button class="btn btn-primary" type="button" style="margin:0px 12px;">Add Branch</button>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-animation.js"></script>
</body>

</html>